@charset "UTF-8";

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
    user-select: none;
    overflow: hidden;
}

fieldset,
img,
input,
button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul,
ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "微软雅黑", "SimSun";
}

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}


img {
    border: 0;
    vertical-align: middle;
}


table {
    border-collapse: collapse;
}


body {
    font-family: "微软雅黑", "SimSun";
    color: #666;
    background: #fff
}

a {
    color: #0969da;
    text-decoration: underline;
}

a:hover {
    color: #0969da;
    /* 添加下划线 */
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s,
i,
em {
    font-style: normal;
    text-decoration: none;
}

::selection {
    color: #333;
    background-color: #dae3ea;
}

button {
    background-color: #9f9f9f40;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
    min-height: 30px;
}

.hidden {
    display: none !important;
}

.window {
    animation-fill-mode: forwards;
}

.window.closed {
    animation-name: close;
    animation-duration: 0.3s;
}

.window.show {
    animation-name: show;
    animation-duration: 0.3s;
}

@keyframes close {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}